---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog | Porfolio 2026">
  <h1 class="text-4xl font-bold mb-4 flex items-center gap-2">
    Blog
  </h1>
  <div class="mt-8">
    <p>My thoughts and writings.</p>
  </div>
</Layout>
