---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import PostList from '../components/PostList.astro';
import ProjectList from '../components/ProjectList.astro';
---

<Layout title="Sergio | 2026 Portfolio">
  <Hero />
  <ProjectList />
  <div class="border-t border-white/10 my-10 max-w-[720px] mx-auto"></div>
  <PostList />
</Layout>
